
body, ul, form, p{
  margin: 0;
  font-family: arial,sans-serif;
}


body {
  
}
header{
  background-color: #2d2d2d
}
ul li{
    display: inline;
    padding: 10px 9px;
    float: left;

}

.floatright{
  float: right;
}
header a{
  color:#bbb;
}
footer a,header a {
  text-decoration: none;
}
footer a{
  color: #666;
}
header a:hover{
  color: white;
}
footer a:hover{
  text-decoration: underline;
}


.clear{
  clear : both;
}

#footer{
  position : absolute;
  bottom : 0px;
  left : 0px;
  width : 100%;
  border-top: 1px solid;
  font-size: 10pt

}

.google{
  width: 275px;
}

#googsearch{
  margin:0px auto;
  width : 500px;
  text-align: center;
  padding-top: 170px


}

.searchbox{
  width: 100%;
  padding: 3px;
}

.add{
  font-size: small
}

form{
  padding-top: 10px;
  margin-bottom: 30px
}
button{
  margin-top: 10px;
  background-color: #f3f3f3;
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-weight: bold
}

.signin{
  position: absolute;
  right :20px;
  top: 20px;
  background-color: #d14836;
;
  font-weight: bold;
  color:white;
  font-size: 12px;
  text-transform: uppercase;
  padding: 8px 15px 8px 15px;
  text-decoration: none;
  border-radius: 3px;
}

.main{
  position: relative;
}

.searchbox_container{
  position: relative;
}

.mic{
  position: absolute;
  top: 0px;
  right: -10px;
  height: 25px
}